        <footer class="footer"> <!-- begin footer -->
            <div class="container-fluid top-footer">
                <div class="container">
                    <div>client logo</div>
                    <div>client logo</div>
                    <div class="d-none d-md-block">client logo</div>
                    <div class="d-none d-md-block">client logo</div>
                    <div class="d-none d-md-block">client logo</div>
                </div>
            </div>
            <div class="container-fluid middle-footer">
                <div class="container">
                    <div class="about footer-column">
                        <h2>about us</h2>
                        <p>
                            Dolor impedit molestiae magni eius aperiam. Necessitatibus quod repellat quasi hic sapiente. Nihil id amet?
                        </p>
                        <p>
                            Ipsum qui autem accusantium maxime minima Ea vitae quae ab veniam doloremque exercitationem Optio quia!
                        </p>
                        <a href="#">» Click here</a>
                    </div>
                    <div class="blog footer-column">
                        <h2>our blog</h2>
                        <div class="blog-entry">
                            <h3>Lorem eaque reiciendis</h3>
                            <p>
                                Dolor eveniet dolorum voluptatem veniam sint Minus iste consequuntur repellendus
                            </p>
                        </div>
                        <div class="blog-entry">
                            <h3>Lorem eaque reiciendis</h3>
                            <p>
                                Dolor eveniet dolorum voluptatem veniam sint Minus iste consequuntur repellendus
                            </p>
                        </div>
                    </div>
                    <div class="flickr-box footer-column">
                        <h2>our flickr</h2>
                    </div>
                    <div class="footer-contact-box footer-column">
                        <h2>get in touch</h2>
                        <address>
                            <p>8901 Marmora Road</p>
                            <p>Glasgow, DO4 89GR</p>
                            <p>Freephone: <span class="phone-number">+1 800 559 6580</span></p>
                            <p>Telephone: <span class="phone-number">+1 959 603 6035</span></p>
                            <p>FAX:       <span class="phone-number">+1 504 889 9898</span></p>
                        </address>
                        <p>
                            E-mail: mail@demolink.org
                        </p>
                    </div>
                </div>
            </div>
            <div class="container-fluid bottom-footer">
                <div class="container">
                    <h2>Restaurant</h2>
                    <p>Restaurant &copy; 2018 Privacy Policy</p>
                </div>
            </div>
        </footer>
        <script src="js/jquery-3.6.0.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>
