<main class="main"> <!-- begin main -->
    <div class="container-fluid carousel-container">
        <div class="carousel-bg">
            <img src="media/salad.jpg" alt="">
        </div>
        <div class="container">
            <div id="carouselExampleControls" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="inner">
                            <img src="media/salad.jpg" alt="">
                            <div class="carousel-text-container">
                                <p class="carousel-bigtext d-none d-md-block">
                                    salad
                                </p>
                                <p class="carousel-bottomtext d-none d-md-block">
                                    of the day
                                </p>
                            </div>
                            <div class="carousel-infobox d-none d-md-block">
                                <div class="inner">
                                    <h2>What is inside?</h2>
                                    <p>
                                        Two pure beef patties hand-leafed lettuce, tomato, spread with or without onions,
                                        stacked high on a freshly baked bun.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="inner">
                            <img src="media/salad.jpg" alt="">
                            <div class="carousel-text-container">
                                <p class="carousel-bigtext d-none d-md-block">
                                    salad
                                </p>
                                <p class="carousel-bottomtext d-none d-md-block">
                                    of the day
                                </p>
                            </div>
                            <div class="carousel-infobox d-none d-md-block">
                                <div class="inner">
                                    <h2>What is inside?</h2>
                                    <p>
                                        Two pure beef patties hand-leafed lettuce, tomato, spread with or without onions,
                                        stacked high on a freshly baked bun.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="inner">
                            <img src="media/salad.jpg" alt="">
                            <div class="carousel-text-container">
                                <p class="carousel-bigtext d-none d-md-block">
                                    salad
                                </p>
                                <p class="carousel-bottomtext d-none d-md-block">
                                    of the day
                                </p>
                            </div>
                            <div class="carousel-infobox d-none d-md-block">
                                <div class="inner">
                                    <h2>What is inside?</h2>
                                    <p>
                                        Two pure beef patties hand-leafed lettuce, tomato, spread with or without onions,
                                        stacked high on a freshly baked bun.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="container main-content">
        <div class="content-box">
            <figure>
                <img class="img-fluid" src="media/24-hours.png" alt="placeholder">
            </figure>
            <div class="content-box-text">
                <h2>Location Finder</h2>
                <p>
                    Dolor ad eligendi quaerat deserunt
                </p>
            </div>
        </div>
        <div class="content-box">
            <figure>
                <img class="img-fluid" src="media/hb-fries.png" alt="placeholder">
            </figure>
            <div class="content-box-text">
                <h2>food quality &amp; menu</h2>
                <p>
                    Dolor ad eligendi quaerat deserunt
                </p>
            </div>
        </div>
        <div class="content-box">
            <figure>
                <img class="img-fluid" src="media/chef.png" alt="placeholder">
            </figure>
            <div class="content-box-text">
                <h2>employment</h2>
                <p>
                    Dolor ad eligendi quaerat deserunt
                </p>
            </div>
        </div>
        <div class="content-box">
            <figure>
                <img class="img-fluid" src="media/veg.png" alt="placeholder">
            </figure>
            <div class="content-box-text">
                <h2>our story</h2>
                <p>
                    Dolor ad eligendi quaerat deserunt
                </p>
            </div>
        </div>
        <div class="content-box">
            <figure>
                <img class="img-fluid" src="media/lime.png" alt="placeholder">
            </figure>
            <div class="content-box-text">
                <h2>promotions</h2>
                <p>
                    Dolor ad eligendi quaerat deserunt
                </p>
            </div>
        </div>
        <div class="content-box">
            <figure>
                <img class="img-fluid" src="media/wraps.png" alt="placeholder">
            </figure>
            <div class="content-box-text">
                <h2>fresh ideas</h2>
                <p>
                    Dolor ad eligendi quaerat deserunt
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid reservations">
        <div class="container">
            <h2>Reservations and orders may be placed anytime</h2>
            <div class="offers">
                <div class="offer-box">
                    <figure>
                        <img src="media/icons/coffee.svg" alt="offer icon">
                    </figure>
                    <div class="offer">
                        <div class="offer-header">
                            <span>offer one</span>
                            <h2>
                                Consectetur quis laboriosam.
                            </h2>
                        </div>
                        <p>
                            Adipisicing incidunt saepe aut fugit ipsam. Pariatur temporibus iusto nisi omnis necessitatibus
                            Eligendi eligendi sit repellendus doloremque corporis. Quasi eos
                        </p>
                        <a href="#">
                            » Click here
                        </a>
                    </div>
                </div>
                <div class="offer-box">
                    <figure>
                        <img src="media/icons/spoon-knife.svg" alt="offer icon">
                    </figure>
                    <div class="offer">
                        <div class="offer-header">
                            <span>offer two</span>
                            <h2>
                                Adipisicing incidunt perspiciatis?
                            </h2>
                        </div>
                        <p>
                            Adipisicing incidunt saepe aut fugit ipsam. Pariatur temporibus iusto nisi omnis necessitatibus
                            Eligendi eligendi sit repellendus doloremque corporis. Quasi eos
                        </p>
                        <a href="#">
                            » Click here
                        </a>
                    </div>
                </div>
                <div class="offer-box">
                    <figure>
                        <img src="media/icons/heart.svg" alt="offer icon">
                    </figure>
                    <div class="offer">
                        <div class="offer-header">
                            <span>offer three</span>
                            <h2>
                                Elit necessitatibus porro?
                            </h2>
                        </div>
                        <p>
                            Adipisicing incidunt saepe aut fugit ipsam. Pariatur temporibus iusto nisi omnis necessitatibus
                            Eligendi eligendi sit repellendus doloremque corporis. Quasi eos
                        </p>
                        <a href="#">
                            » Click here
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
